@model HW05.Models.BookVM
@{
    ViewBag.Title = "Book Page";

    var books = Model.Books;
    var authors = Model.Authors;
    var types = Model.Types;
    var statuses = Model.Statuses;

    var bookandstatus = books.Zip(statuses, (b, s) => new { Book = b, Status = s });
}

<h2>Books</h2>
<hr />
@using (Html.BeginForm("searchBook", "Book", FormMethod.Post))
{


<div class="row row-no-gutters">
        <div class="col-md-4">
            <input type="text" name="searchText" class="form-control" placeholder="Search Book Name" />
        </div>
        <div class="col-md-2">
            <select name="selectedType" class="dropdown" >
                <option value="0">Select a Type</option>
                @foreach(var type in types)
                {
                    <option value="@type.TypeID">@type.Name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <select name="selectedAuthor" class="dropdown">
                <option value="0">Select a Authors</option>
                @foreach (var author in authors)
                {
                    <option value="@author.AuthorID">@author.Surname</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success" style="width: 18rem;">Search</button>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Clear", "ClearFilter", "Book", null, htmlAttributes: new { @type = "button", @class = "btn btn-danger", @style = "width: 18rem; margin-left: 1rem;" })
        </div>
    </div>
}
<br /> 
<div class="table-responsive">
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tbody>
        @if(books.Count != 0)
        {
            foreach (var bs in bookandstatus)
            {
                <tr>
                    <td>@bs.Book.BookID</td>
                    <td>@bs.Book.Name</td>
                    <td>@bs.Book.Author</td>
                    <td>@bs.Book.Type</td>
                    <td>@bs.Book.PageCount</td>
                    <td>@bs.Book.Point</td>
                    <td style="color: @bs.Status.Style">@bs.Status.Text</td>
                    <td>@Html.ActionLink("View", "viewBook", new { id = bs.Book.BookID}, new { @type = "button", @class = "btn btn-primary" } )</td>
                </tr>
            }
        } else
        {
                <tr>
                    <td>No Results Match.</td>
                </tr>
        }
    </tbody>
</table>
</div>

